{% extends "creators/base.html" %}
{% load bootstrap3 %}
<head>
    {% block title %}
    <title>Sign up</title>
    {% endblock %}
</head>

    {% block page  %}
        <body class="bg-olive">
        <div class="container"  >
        <div class="row ">
        <br/>
        <br/>
        <br/>
        <div class="col-lg-auto">
        <div class="card card-body">
        <div class="card-body">
    <h3 class="text-center text-uppercase ">Sign UP</h3>
        <b class="text-center text-uppercase">
    <form method="post" class="text-center text-uppercase">
        {% csrf_token %}
        <br/>
        <h4>Владелец</h4>
        {% bootstrap_form userform %}
        <br/>
        <h4>Ресторан</h4>
        {% bootstrap_form restaurantform %}
        <br/>
        <button type="submit" value="Sign up" class="btn btn-dark btn" >Зарегистрироваться</button>
    </form>
        </b>
    {% endblock %}
    </div>
</div>
        </div>
    </div>
    </div>
</body>
