{% extends "home.html" %}
{% block page %}
    {% block title %}
    <title>{{ restaurant.name }}</title>
        {% endblock %}
     <h2 class="text-center font-monospace"> {{ restaurant.name}} </h2>
        {% if restaurant.id %}
        {% endif %}
        <div class="font-monospace text-black-60 text-decoration-underline"> {{ restaurant.description }}</div>
    <h2 class="text-center font-monospace"> МЕНЮ </h2>
    {% for category in categorys %}
        <h4>
        <p class="text-center">
            <a href="{% url 'restaurant:category' restaurant.name category.name  %}" >{{ category.name }}</a>
        </p>
        </h4>
    {% endfor %}
    <br>
    <br>

    <p class="text-center">
        <a href="{{ restaurant.url }}"> {{ restaurant.url }}</a>
    </p>
{% endblock %}
<body>

</body>
