 {% load static %}
 {% load bootstrap3%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Home Page</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src='{% static "js/bootstrap.min.js"%}'> </script>
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>

    <nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url "restaurant:restaurants" %}">
      <img src="../media/restaurant/rest.png" alt="" width="50" height="48">
        Restaurants
    </a>
      {% block auth %}
      {% endblock %}
   
  </div>
</nav>
{% block page %}
   <body class="bg-olive">
        <div class="container"  >
        <div class="row ">
        <br/>
        <br/>
        <br/>
        <div class="col-lg-10">
        <div class="card card-body">
        <div class="card-body">
    <h3 class="text-center text-uppercase ">Кто вы?</h3>
        <b class="text-center text-uppercase">
        </b>
        {% buttons %}
             <form action="{% url 'creators-login' %}" class="text-left">

            <button type="submit" value="Creators" class="btn btn-dark btn; text-center">Владелец ресторана
            </button>
             </form>
            <br/>
            <form action="{% url "restaurant:restaurants" %}" class="position-absolute right" >
            <button type="submit" value="Restaurant" class="btn btn-dark btn;text-center">Посетитель ресторана
            </button>
            </form>
        {% endbuttons %}
    <br/>

{% endblock %}




</html>